USE [DataAnalytics]
GO
/****** Object:  Table [dbo].[PEI_Customer]    Script Date: 23-08-2024 11.35.20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEI_Customer](
	[Customer_ID] [int] NOT NULL,
	[First] [nvarchar](50) NOT NULL,
	[Last] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PEI_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEI_Order]    Script Date: 23-08-2024 11.35.20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEI_Order](
	[Order_ID] [int] NOT NULL,
	[Item] [nvarchar](50) NOT NULL,
	[Amount] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
 CONSTRAINT [PK_PEI_Order] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEI_Shipping]    Script Date: 23-08-2024 11.35.20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEI_Shipping](
	[Shipping_ID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Customer_ID] [int] NOT NULL,
 CONSTRAINT [PK_PEI_Shipping] PRIMARY KEY CLUSTERED 
(
	[Shipping_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PEI_Customer] ([Customer_ID], [First], [Last], [Age], [Country]) VALUES (1, N'Joseph', N'Rice', 43, N'USA')
INSERT [dbo].[PEI_Customer] ([Customer_ID], [First], [Last], [Age], [Country]) VALUES (2, N'Gary', N'Moore', 71, N'USA')
INSERT [dbo].[PEI_Customer] ([Customer_ID], [First], [Last], [Age], [Country]) VALUES (3, N'John', N'Walker', 44, N'UK')
GO
INSERT [dbo].[PEI_Order] ([Order_ID], [Item], [Amount], [Customer_ID]) VALUES (1, N'Keyboard', 400, 139)
INSERT [dbo].[PEI_Order] ([Order_ID], [Item], [Amount], [Customer_ID]) VALUES (2, N'Mouse', 300, 250)
INSERT [dbo].[PEI_Order] ([Order_ID], [Item], [Amount], [Customer_ID]) VALUES (3, N'Monitor', 12000, 239)
GO
INSERT [dbo].[PEI_Shipping] ([Shipping_ID], [Status], [Customer_ID]) VALUES (1, N'Pending', 173)
INSERT [dbo].[PEI_Shipping] ([Shipping_ID], [Status], [Customer_ID]) VALUES (2, N'Pending', 155)
INSERT [dbo].[PEI_Shipping] ([Shipping_ID], [Status], [Customer_ID]) VALUES (3, N'Delivered', 242)
GO
